
    #leftbutton{
        /* margin-right: 20px; */
        margin-right: 2%;
        width: 40%;
        display: inline-block;
        top: 200px;
    }

    #rightbutton{
        /* margin-left: 20px; */
        margin-right: 2%;
        width: 40%;
        display: inline-block;
        top: 200px;
    }

    #input1{
        opacity: 0;
    }

    #input2{
        opacity: 0;
    }

    #preview1{
        /* margin-left: unset; */
        /* margin-right: 2%; */
        width: 20%;
        /* display: inline-block; */
        /* top: 300px; */
    }

    #preview2{
        /* margin-left: 2%; */
        width: 20%;
        /* display: inline-block; */
        /* top: 300px; */
    }

    /* #result{

        top: 600px;
        width: 90%;
    } */

    #showresult{
      /* left: 20%; */
      top: 400px;
      width: 80%;
    }

    #text{
        left: 10%;
        width: 90%;
        height: 200px;
    }
    .container{
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center;
        background-color: white;
    }

    .button{
        position: relative;
        top: 360px;
        font-size: 16px;
        width: 90%;
        height: 40px;
        line-height: 40px;
        display: block;
        margin-left: 5%;
        text-align: center;
        border-style: solid;
        border-color: white;
        border-width: 5px;
        background-color: cornflowerblue;
    }
